{% extends "base.html" %}

{% block title %}Previous Calculations{% endblock %}

{% block modal_info %}
    View all the previous calculations performed using the Financial Calculator.
{% endblock %}

{% block content %}
    <h2>Your Previous Calculations:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type of Calculation</th>
                <th>Input Parameters</th>
                <th>Result</th>
                <th>Date (UTC)</th>
            </tr>
        </thead>
        <tbody>
            {% for calculation in previous_calculations %}
                <tr>
                    <td>{{ calculation.calculation_type }}</td>
                    <td>{{ calculation.input_params }}</td>
                    <td>{{ calculation.result }}</td>
                    <td>{{ calculation.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not previous_calculations %}
        <p>No previous calculations found.</p>
    {% endif %}
{% endblock %}
